body {
  background-color: #f6f5f5; 
}

.container-fluid-nav{
   background-color: blanchedalmond;
   color: #FFFFFF;
   padding: 20px;
   font-size: larger;

}

.employee-container {
   border-radius: 10px;
   margin-top: 20px;
}

.employee-header {
   background-color: rgb(7, 7, 53);
   width: 20em;
   border-radius: 10px 10px 0 0;
   padding: 10px;
   color: #FFFFFF;
}

.employee-content {
   padding: 10px;
   border-radius: 0 0 15px 15px;
   border-right: 1px solid #f6f5f5;
   border-bottom: 1px solid #f6f5f5;
   border-left: 1px solid #f6f5f5;
   background-color: #FFFFFF;
}

.employee-content p{
   border-bottom: 1px solid #f6f5f5;
   margin: 7px 0 7px;
   padding: 0 0 7px;
}

.employee-content p:last-child{
   border-bottom: none;
}
