body {
  background-color: #f6f5f5; 
}
.container{
   display: flex;

}

.container-fluid-nav{
   background-color: blanchedalmond;
   color: #FFFFFF;
   padding: 20px;
   font-size: larger;

}

.employee-container {
   border-radius: 10px;
   margin-top: 20px;
   padding: 10px;
   width: 20em;
}

.employee-header {
   background-color: rgb(7, 7, 53);
   width: 20em;
   border-radius: 10px 10px 0 0;
   padding: 10px;
   color: #FFFFFF;
}

.employee-content {
   padding: 10px;
   border-radius: 0 0 15px 15px;
   background-color: rgb(241, 245, 245);
   width: 20em;
   flex-direction:column;
}


